spring:
  config:
    activate:
      on-profile:
      - dev
server:
  port: 8761
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
  server:
    renewal-percent-threshold: 0.85